@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  /* variables */
  --primary-color: #6363ee;
  /* --blue: #0095f6; */

  --secondary-color: #d6ccff;

  --bg: #f0f0f5;
  --bg-secondary: #fcfcfc;
  --bg-primary: #f0f0f5;

  --gray-1: #697c89;
  --gray-1: #cfe64c;

  --menu: rgba(0, 0, 0, 0.6);

  --white: #ffffff;
  --light: #f0eef6;
  --gray: #aaa;
  --secondary: #d6ccff;

  --yellow: #ffd64a;
  --green: #4bb543;
  --blue: #4cade6;
  --purple: #6363ee;

  --bg-success: rgba(120, 210, 170, 0.25);

  --bg-red: #af5757;
  --bg-red: #d06060;
  --bg-green: #51895e;

  --bg-gradient: radial-gradient(
      ellipse at bottom,
      var(--primary-color),
      transparent
    ),
    radial-gradient(ellipse at top, transparent, var(--primary-color));

  --dark: #241e38;
  --black: #151221;

  --bg-gray: #efefef;

  --bg-color: linear-gradient(90deg, var(--gray) 0%, var(--light) 100%);

  --color-primary: #222327;
  --color-secondary: #fffafa;

  --gris: #d3d4d4;
  --gris-v-1: #d9d9d9;

  --text-white: #fffafa;
  --text-black: #222327;

  --red: #ff5757;
  --bg-black: #222327;
  --box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  --box-shadow-btn: 2px 3px 5px -1px hsla(0, 0%, 0%, 0.4);

  /* button  */
  --btn-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 20px 1px rgba(0, 0, 0, 0.2);

  /* button hover */
  --btn-shadow-h: 0 4px 6px 1px rgba(0, 0, 0, 0.2),
    0 3px 6px 1px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.12),
    0 8px 14px 1px rgba(0, 0, 0, 0.1), 0 16px 25px 2px rgba(0, 0, 0, 0.2);

  /* variables */
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: calc(0.6vh + 0.45vw + 8px);
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-overflow: ellipsis;
}
*::selection {
  background: var(--primary-color);
  /* background: #d279ee; */
  color: var(--text-white);
}

body {
  width: 100%;
  position: relative;
  scrollbar-color: var(--gris) transparent;
}
div,
label,
span,
li,
i {
  width: max-content;
}
button {
  /* background: linear-gradient(33deg, #d279ee, #f8c390); */
  text-transform: capitalize;
}

foreignObject {
  cursor: default;
}
.toolbar {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
}
.toolbar button {
  width: max-content;
}
.apexcharts-tooltip-title,
.apexcharts-legend,
.apexcharts-menu-item {
  width: 100%;
}

.apexcharts-legend {
  display: flex;
  gap: 1rem;
}
.apexcharts-legend-series {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.apexcharts-legend-text {
  font-size: 1rem !important;
}
.apexcharts-legend-marker {
  width: 0.9rem !important;
  height: 0.9rem !important;
}

input {
  color: var(--color-primary);
  border: 1px solid transparent;
  transition: 0.1s ease;
  background: var(--bg-primary);
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;
  caret-color: var(--color-primary);
  height: 2.75rem;
  width: 100%;
  border-radius: 0.3rem;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
  hyphens: auto;
  overflow-x: hidden;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--color-primary);
  border: 1px solid transparent;
  transition: 0.1s ease;
  background: var(--bg-primary);
  font-size: 1rem;
  outline: none;
  caret-color: var(--color-primary);
}
input[type="radio"] {
  appearance: none;
  border-radius: 50%;
  transform: scale(0.75);
  width: max-content;
  padding: 0;
  height: max-content;
  color: var(--white);
  background: transparent;
}

input[type="radio"]::before {
  content: "";
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  font-size: 0.6rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transform-origin: bottom center;
  transform: translate(-50%, 15%) scale(0);
  transition: transform 0.2s ease-in;
}

input[type="radio"]:checked {
  transform: scale(1);
  box-shadow: none;
  outline: none;
}
input[type="radio"]:checked::before {
  background-color: var(--primary-color);
  content: "\2713";
  transform: translate(0) scale(1);
}
.buttonGradient {
  background: linear-gradient(33deg, #d279ee, #f8c390);
}
.boxShadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
img {
  user-select: none;
}
.bgText {
  color: transparent;
  background: var(--bg-gradient);
  -webkit-background-clip: text;
}
.bgImg {
  color: transparent;
  background-image: url("/eq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
}
/* .svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--primary-color);
  align-items: flex-start;
  pointer-events: none;
} */
.scr {
  scrollbar-width: thin;
  scrollbar-color: var(--gris) transparent;
}
.scr::-webkit-scrollbar {
  width: 6px;
  cursor: default;
}

.scr::-webkit-scrollbar-button:start,
.scr::-webkit-scrollbar-button:end {
  display: none;
}
.scr::-webkit-scrollbar-thumb {
  background-color: var(--bg-gray);
}
.scr::-webkit-scrollbar-thumb:hover {
  background-color: var(--gris);
}
.scr::-webkit-scrollbar-track {
  background-color: transparent;
  transition: 0.15s;
}
